# =============================================================================
# SERVER CONFIGURATION
# =============================================================================

# Port the NestJS app will listen to.
APP_PORT=3000


# =============================================================================
# DATABASE CONFIGURATIONS
# =============================================================================

# Database configuration (to be added later)
DATABASE_HOST=localhost

# DATABASE_HOST=postgres
DATABASE_PORT=5432

# DATABASE_USER=postgres
DATABASE_USER=user

# DATABASE_PASSWORD=postgres
# ATTENTION!!: Change this password before production
DATABASE_PASSWORD=Password123!

# DATABASE_NAME=recipe_db
DATABASE_NAME=recipe_db

# DATABASE_SSL_MODE=disable
# ATTENTION!!: Set to 'require' for production PostgreSQL SSL
DATABASE_SSL_MODE=disable
